
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                      <h1 style="color:red; font-weight:bold; font-size:35px">Chi tiết phiếu thu tiền </h1>
                      <hr>
                      <div class="row">
                      <div class="col-md-9 personal-info">
                          <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td width="390" style="color:black;font-weight:bold; font-size:20px">ID phiếu thu tiền:</td>
                                                    <td> {{data.ID_Bill}} </td>
                                                </tr>
                                                <tr>
                                                    <td width="390" style="color:black;font-weight:bold; font-size:20px">ID hóa đơn:</td>
                                                    <td> {{data.ID_Order}} </td>
                                                </tr>
                                                <tr>
                                                    <td width="390" style="color:black;font-weight:bold; font-size:20px">Ngày lập:</td>
                                                    <td> {{data.DatePayment}} </td>
                                                </tr>
                                                 <tr>
                                                    <td width="390" style="color:black;font-weight:bold; font-size:20px">Người thu tiền:</td>
                                                    <td> {{data.Name}} </td>
                                                </tr>                                       
                                                <form action="/DeleteBill/{{data.ID_Order}}" method="post">
                                                    <div class="form-group">
                                                        <tr>
                                                             <td><div class="col-md-12">
                                                                     <button class="btn btn-block btn-primary" type="submit">Xóa</button>
                                                                 </div>
                                                             </td>
                                                        </tr>
                                                    </div>
                                                </form>
                                            </tbody>
                                        </table>
                                    </div>
                        
                        </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>
