
<link rel="stylesheet" href="css/mystyle.css">

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <h1 style="color: red; font-weight:bold">Hồ sơ cá nhân</h1>
                    <hr>
                    <div class="row">
                         <!-- edit form column -->
                        <div class="col-md-9 personal-info">
                            <div>
                                {{# if errors }}
                                   <h4>{{errors}}</h4>
                                {{/if}}
                             </div>
                            <form action="/DeleteCustomer/{{data.ID_Customer}}" method="post">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Xóa</button>
                                </div>
                            </form>
                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Tên tài khoản:</label>
                                    <div class="col-lg-8">
                                            <label class="form-control" type="text" name="username" value="{{data.UserName}}">{{data.UserName}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Email:</label>
                                    <div class="col-lg-8">
                                        <label class="form-control" type="email" name="email" value="{{data.Email}}">{{data.Email}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Tên:</label>
                                     <div class="col-lg-8">
                                             <label class="form-control" type="text" name="name" value="{{data.FullName}}">{{data.FullName}}</label>
                                     </div>
                                 </div>  
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Di động:</label>
                                     <div class="col-lg-8">
                                             <label class="form-control" type="text" name="phonenumber" value="{{data.Phone}}">{{data.Phone}}</label>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Địa chỉ:</label>
                                     <div class="col-lg-8">
                                             <label class="form-control" type="text" name="address" value="{{data.Address}}">{{data.Address}}</label>
                                     </div>
                                 </div>
                                   <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Giới tính:</label>
                                     <div class="col-lg-8">
                                         {{#ifCond data.Gender Nam}}
                                             <label class="form-control" type="text" name="gender" >Nam</label>
                                             {{else}}
                                             {{#ifCond data.Gender Nữ}}
                                             <label class="form-control" type="text" name="gender" >Nữ</label>
                                             {{else}}
                                             {{#ifCond data.Gender Khác}}
                                             <label class="form-control" type="text" name="gender" >Khác</label>
                                             {{else}}
                                             <label class="form-control" type="text" name="gender" >Khác</label>
                                             {{/ifCond}}
                                             {{/ifCond}}
                                             {{/ifCond}}
                                     </div>
                                 </div>
                                   <div class="form-group">
                                    <label class="col-lg-3 control-label" style="color:blue;font-weight:bold; font-size:20px">Ngày sinh:</label>
                                     <div class="col-lg-8">
                                             <input type="date" name="date" value={{BornDay}} min="1950-01-01" max="2019-01-01" readonly>
                                     </div>
                                 </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" style="coloR:BLUE;font-weight:bold; font-size:20px">Trạng thái:</label>
                                    <select name="status">
                                        {{#ifCond data.Status 1}}
                                            <option value="1" selected>true</option>
                                        {{else}}
                                            <option value="1">true</option>
                                        {{/ifCond}}
                                        {{#ifCond data.Status 0}}
                                            <option value="0" selected>false</option>
                                        {{else}}
                                            <option value="0">false</option>
                                        {{/ifCond}}
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                     <div class="col-md-8">
                                        <button class="btn btn-block btn-primary" type="submit">LƯU</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
