
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2><b>TẤT CẢ ĐƠN HÀNG</b></h2>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0"></th>
                        <th class="border-0" style="color:blue;font-weight:bold; font-size:20px">Tên đơn hàng</th>
                        <th class="border-0" style="color:blue;font-weight:bold; font-size:20px">Địa chỉ</th>
                        <th class="border-0" style="color:blue;font-weight:bold; font-size:20px">Gía tiền</th>
                        <th class="border-0" style="color:blue;font-weight:bold; font-size:20px">Trạng Thái</th>
                        <th class="border-0" style="color:blue;font-weight:bold; font-size:20px">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr>
                            <td></td>
                            <td>{{name}}</td>
                            <td>{{address}}</td>
                            <td>{{cart.totalPrice}}</td>
                            <td>{{ConvertStatus status}}</td>
                            <td >
                                <a href="/UpdateOrder/{{_id}}" style="color: red;"><u>XEM</u></a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>