<body>
     <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="white-box">
                            <hr>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="white-box text-center">
                                        <img src="{{data.imagePath}}" width="300px" id="product-image" class="img-responsive" />
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <h4 class="box-title m-t-0" style="color:red; font-weight:bold; font-size:35px">{{data.NameBook}}</h4>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Giá: {{data.Price}}</h5>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Khuyến mãi: {{data.Discount}}%</h5>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Thể loại: {{data2.NameCategory}}</h5>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Tác giả: {{data4.NameAuthor}}</h5>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Nhà xuất bản: {{data3.NamePublisher}}</h5>
                                    <h5 class="box-title m-t-0" style="color:black; font-weight:bold; font-size:20px" >Số lượng tồn: {{data.Quantity_Book}}</h5>
                                    <hr>
                                    <p>{{data.Description}}</p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>Color</h6>
                                            <div class="input-group">
                                                <ul class="icolors">
                                                    <li class="red"></li>
                                                    <li class="blue"></li>
                                                    <li class="purple active"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                     <a href="/edit-product/{{data.ID_Book}}" class="btn btn-block btn-primary">Chỉnh sửa</a>
                                    <form action="#" method="">
                                        <div class="form-group">
                                            <input type="text" value="{{data.ID_Book}}" hidden name="iddelete">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-primary" type="submit">Xóa</button>
                                         </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- ===== Right-Sidebar ===== -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="icon-close right-side-toggler"></i></span> </div>
                        <div class="r-panel-body">
                            <ul class="hidden-xs">
                                <li><b>Layout Options</b></li>
                                <li>
                                    <div class="checkbox checkbox-danger">
                                        <input id="headcheck" type="checkbox" class="fxhdr">
                                        <label for="headcheck"> Fix Header </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-warning">
                                        <input id="sidecheck" type="checkbox" class="fxsdr">
                                        <label for="sidecheck"> Fix Sidebar </label>
                                    </div>
                                </li>
                            </ul>
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="yellow" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="black" class="black-theme">6</a></li>
                                <li class="db"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="yellow-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="black-dark" class="black-dark-theme">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ===== Right-Sidebar-End ===== -->
            </div>
        </div>
